<ion-header>
  <ion-toolbar>
    <ion-title>
      チャット
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small">送信</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" style="padding: 4px 8px">
    <ion-avatar slot="start" style="width: 36px; height: 36px;">
      <ion-img src="/assets/shapes.svg"></ion-img>
    </ion-avatar>
    <form #f=ngForm>
      <ion-textarea class="ion-margin-start" autoGrow="true" rows="1"
                    placeholder="メッセージ" [(ngModel)]="message" name="message" required></ion-textarea>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <ion-item lines="none" *ngFor="let m of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-img src="/assets/shapes.svg" *ngIf="m !== 3"></ion-img>
      </ion-avatar>
      <ion-label class="ion-padding ion-text-wrap"
                 style="background-color: var(--ion-color-light-tint); border-radius: 12px;"
                 [class.ion-margin-end]="m !== 3" [class.ion-margin-start]="m === 3">
        <div class="ion-text-nowrap"><strong>表示名</strong></div>
        メッセージ
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
